@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components{
  .bck-image {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('./images/pickle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
} */
